backend/myenv/
backend/cropbot/
backend/livestockbot/
backend/plant-disease-model.pth/
backend/.pth/plants_best_model
backend/datasfinal.pdf/
backend/datasfinals.pdf/
backend/datasfinal1.pdf/
backend/pdf.py/
backend/plant finals.pdf/
backend/plant images.pdf/
backend/plant images[1].pdf/



